@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: rgb(93, 129, 165)!important;
  }

#title{
    font-family: 'Cinzel', serif;
    color: rgb(246, 239, 230);
    font-size: large;
    padding: 0.2rem;
}

hr{
    height: 2px;
    background-color: #ccc;
    border: none;
}

#footer,#header,#card{
    background-color: rgb(5, 58, 81)!important;
}
